/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }				<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/

/*----[ BACKGROUND ]----*/

/*---:[ Set 1: solid background with slick borders around your "page" area ]:---\

body.custom { background: #44443f; }
	
	.custom #container { margin-top: 2em; margin-bottom: 2em; padding: 0.3em; background: #33332f; border: 0.4em solid #3e3e3a; }

		.custom #page { background: #fff; }
		
---:[ end Set 1 ]:---*/



/*---:[ Set 2: repeating background grid pattern ]:---

body.custom { background: #f9f5db url('images/bg-grid.gif'); }

		.custom #page { padding: 2em 1.9em; background: #fff; border: 0.1em solid #b5b198; border-top: 0; }

---:[ end Set 2 ]:---*/



/*---:[ Set 3: ornate, repeating background pattern ]:---

body.custom { background: #93cabc url('images/bg-ornate.gif'); }

		.custom #page { padding: 2em 1.9em; background: #fff; border: 0.1em solid #629084; border-top: 0; }

---:[ end Set 3 ]:---*/



/*---:[ Set 4: image of clouds that gently slides into a steely blue background color ]:---

body.custom { background: #394f5c url('images/bg-clouds.jpg') 50% 0 no-repeat; }

	.custom #container { margin-top: 2em; margin-bottom: 2em; }

		.custom #page { background: #fff; }

---:[ end Set 4 ]:---*/



/*---:[ Set 5: image of gray rocks that slides into a dark gray background ]:---*/

body.custom { background: #33383a url('images/bg-rock.jpg') 50% 0 no-repeat; }

.custom #container { margin-top: 2em; margin-bottom: 2em; }

	.custom #page { background: #fff; }
	
/*---:[ end Set 5 ]:---*/



/*---:[ Set 6: image of ocean water that slides into a tranquil blue-green color ]:---

body.custom { background: #8db6b6 url('images/bg-ocean.jpg') 50% 0 no-repeat; }

.custom #container { margin-top: 2em; margin-bottom: 2em; }

	.custom #page { background: #fff; }
	
---[ end Set 6 ]:---*/



/*---:[ Solid Gray color ]:---

body.custom {
    background: #44443f;
}

.custom #container {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.3em;
    background: #33332f;
    border: 0.4em solid #3e3e3a;
}

.custom #page {
    background: #fff;
}
 
---[ end Solid Gray ]:---*/



/*----[ NEXT SECTION ]----*/


