/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }		<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/

/* CSS Table of Contents

	- Section Styles (Header/Footer/Sidebar)
	- Page Template Styles (Category/Product/Post)
	- Unique Element Styles (Sm. Product/Lg. Product/Product Reviews)
	- General Styles (Text/Background/Comments/IE fixes)
	
	
END CSS Table of Contents */


		/*------:[ Section Styles ]:------*/

	/*---------:( #HEADER STYLES ):---------*/
/*---:( HEADER BACKGROUND ):---*/

.custom #header { background: #F1FEED; border-bottom: none; }


/* This line sets up our clickable background image based on the site title's link */
/* DIY: Adjust the height & width attributes to reflect the actual size of your image */
/* DIY: Change the filename of your image to reflect the actual header's file name */
.custom #header #logo a { display: block; height: 100px; width: 528px; background: url('images/eflower_logo-100h.gif') no-repeat; outline: none; }

/* This line gets rid of the site title & tagline by casting them out to far left field */
.custom #header #logo, .custom #header #tagline { text-indent: -9999px; }

/* This line collapses the vertical space of the tagline so that there isn't unnecessary white space after the header image */

/* This is a bit of a kludge, but it seems to work. */
.custom #header #tagline { height: 0; }

/* This line removes the padding from the header so that the background image sits close to the nav menu, the bottom border of the header, and the sides of the content */
.custom #header { padding: 5px 0 0 5px; }


/*---:( Header Text Colors ):---*/

/*---:( PRODUCT NAVIGATION BAR ):---*/

.custom #tabs { 
	background-image: url('images/tab35_bg.gif'); 
	background-repeat: repeat-x; 
	height: 35px; 
	margin: 0px; 
	padding: 0px; 
	text-align: left; 
	width: 914px; 
	border-top: 0px #fff; 
	border-style: none solid none none; 
}

.custom ul#tabs { 
	line-height: normal; 
	list-style-type: none; 
	margin: 0px; 
	color: #fff;
	padding: 0px; 
}

.custom #tabs li {
	background: transparent; 
	border: 0px 1px 0px 0px solid #fff; 
	display: inline; 
	float: left; 
	height: 29px; 
	margin: 0px; 
	padding: 6px 0px 0px; 
	text-align: left; 
	border-style: none solid none none; 
}

/* IE fix border width */
.ie #tabs li { 
	border-right: 1px solid #fff; 
}

.custom ul#tabs li a { 
	padding: 12px; 
	margin-top: -6px; 
	color: #fff; 
	text-decoration: none; 
	}

.custom ul#tabs li a:hover { 
	background-color: #663399; 
	text-decoration: underline; 
	}

.custom ul#tabs li.rss { 
	padding-right: 3px; 
	}

.custom ul#tabs li.rss a:hover { 
	text-decoration: underline; 
	}

/* Far Right Tab No-Right-Border */
.custom #tabs li.page-item-17 {
	border: none;
}


/*---:( NAV DROP DOWN ):---*/

.custom ul#tabs li ul { 
display: none; position: absolute; list-style: none; background-color: #fff; border: 1px solid #663399; border-top-style: none; z-index: 99; padding: 6px 0 0; margin: .5px 0 0; 
}
	.custom ul#tabs li ul li { float: none; border: none; }
		.custom ul#tabs li ul a { color: #8B31C7; }
			.custom ul#tabs li ul a:hover { background-color: #E3E4FA; cursor: pointer; }

.custom ul#tabs li:hover ul { display: block; }

/* Current Page Item (Parent) Style - PARENT LEVEL */
.custom ul#tabs li.current_page_item { 
	background-color: #D4AAFE; 
	font-weight: bold;
	}

.custom ul#tabs li.current_page_item a:hover { 
	background-color: #D4AAFE; 
	cursor: default;
	text-decoration: none; 
	}

/* Current Page Item (Parent) Style - CHILD LEVEL */
.custom ul#tabs li.current_page_item ul li, .custom ul#tabs li.current_page_parent ul li {
	font-weight: normal;
}

.custom ul#tabs li.current_page_item ul li a:hover {
	background-color: #E3E4FA; 
	cursor: pointer;
	text-decoration: underline; 
}

/* Current Page Item (Parent) Style - DEPENDENT */
.custom ul#tabs li.current_page_parent { 
	background-color: #D4AAFE; 
	font-weight: bold;
	}

.custom ul#tabs li.current_page_parent a:hover { 
	cursor: pointer;
	text-decoration: underline; 
	}

/* Current Page Item (Child) Style - DEPENDENT */
.custom ul#tabs li ul li.current_page_item { 
	background-color: transparent; 
	cursor: default;
	text-decoration: underline; 
	}

.custom ul#tabs li ul li.current_page_item a { 
	font-weight: bold;
	text-decoration: underline; 
	}

.custom ul#tabs li ul li.current_page_item a:hover { 
	background-color: #E3E4FA; 
	cursor: default;
	}


/*
.custom ul#tabs li { 
border: 1px solid #89AD7B ; 
-moz-border-radius: 3px ;
-webkit-border-radius: 3px ;
border-radius: 3px ;
}

.custom ul#tabs li.rss { 
border: none; 
background-color: none; 
}

.custom ul#tabs li { 
background-color: #FEDFEE; 
}
*/


/*---:( TOP NAVIGATION BAR ):---*/

.custom #topnav {
	border-style: none;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	width: 100%;
	float: left;
}

.custom #topnav ul {
	border-style: none;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	width: 450px;
	float: right;
}

.custom #topnav li { font-size: 1.1em; float: right; padding: 3px 10px 3px 0px; color: #6F6F6F; }
.custom #topnav li a { color: #6F6F6F; padding: 0 0 0 10px; border-width: 1px; border-style: none none none solid; }
.custom #topnav li a:hover { text-decoration: underline; }
.custom #topnav li.rss { padding-right: 4px; border: none; float: right; }
.custom #topnav li.rss a { padding-right: 16px; background: url('images/icon-rss.gif') 100% 50% no-repeat; }
.custom #topnav li.cart { padding-right: 0; border: none; float: right; }
.custom #topnav li.cart a { padding-right: 26px; border: none; background: url('images/icon-shoppingcart.gif') 100% 50% no-repeat; }

/*---:( SEARCH BAR ):---*/

.custom #header .search_form { font-size: 12px; display: inline; position: relative; float: right; margin-top: -47px; margin-right: 10px; padding: 1px; background: #F1FEED; }

.custom #header #s { width: 220px; height: 16px; background: #D8BFD8; color: #000; padding: 7px 29px 7px 7px; }

.custom #header #searchsubmit { position: absolute; right: 4px; top: 4px; background: url('images/bg-searchbtn.png') no-repeat; width: 24px; height: 24px; border: none; margin: 1px; }

.custom #header #searchsubmit:hover { background: url('images/bg-searchbtn-hvr.png') no-repeat; cursor: pointer; }


	/*---------:( END #Header Styles ):---------*/


	/*---------:( #FOOTER STYLES ):---------*/
/*---:( FOOTER NAV BAR ):---*/
.custom #footer {
	background: #c3d9d6; 
	height: 300px; 
	border: 5px solid #e2dede; 
}

.custom ul#footernav {
	border-style: none;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: center; 
	float: left;
	width: 600px;
	margin: 0 auto; 
}

.custom ul#footernav li { font-size: 1.1em; padding: 3px 10px 3px 0px; float: right;}
.custom ul#footernav li a { font-size: 1em; color: #6F6F6F; padding: 0 10px 0 0; border-width: 1px; border-style: none solid none none; }
.custom ul#footernav li a:hover { text-decoration: underline; }
.custom ul#footernav li.rss { padding-right: 0; border: none; float: right; }
.custom ul#footernav li.rss a { padding-right: 16px; background: url('/wp/wp-content/themes/thesis_15/images/icon-rss.gif') 100% 50% no-repeat; }


.custom #footer_1 {text-align:left; color:#333;}
	.custom #footer_1 ul.sidebar_list li.widget {width:23%; margin-right:2%; float:left;}
		.custom #footer_1 ul.sidebar_list li.widget h3 {color:#222;}
		.custom #footer_1 ul.sidebar_list li.widget a {color:#444; border-bottom:0;}
		.custom #footer_1 ul.sidebar_list li.widget a:hover {color:#111;}

/*---:( END Footer Navigation Bar ):---*/
	/*---------:( END #Footer Styles ):---------*/


	/*---------:( #SIDEBAR STYLES ):---------*/
/*---:( SIDEBAR IMAGES ):---*/
.custom #sb-promo { 
	margin: -15px;
	padding-bottom: 30px; 
}

.custom .sb-promo-row { 
	display: block;
	margin: 5px 5px 0;
	padding: 0;
	width: 195px;
}

.custom .sb-promo-row span { 
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

.custom #sb-guarantee-img {
	margin-left: 15px; 
}

/*---:( END To Be FILLED ):---*/
	/*---------:( END #Sidebar Styles ):---------*/

		/*------:[ END Section Styles ]:------*/



		/*------:[ PAGE TEMPLATE STYLES ]:------*/

	/*---------:( CATEGORY PAGE STYLES ):---------*/
/*---:( Category Header ):---*/
/*---:( END Category Header):---*/

/*---:( Category Footer ):---*/
/*---:( END Category Footer ):---*/

/*---:( Category Sidebar ):---*/
/*---:( END Category Sidebar ):---*/
	/*---------:( END Category Page Styles ):---------*/


	/*---------:( PRODUCT PAGE STYLES ):---------*/
/*---:( SINGLE PRODUCT PAGE ):---*/
.custom .headline_area h2 {
	float: none;
}

.custom #single-product {
	float: none;
}

.custom #product-info {
	float: left;
	margin-right: 30px;
	width: 350px;
}

.custom #prod-pic-lg {
	float: none;
}

.custom #prod-code {
	color: gray;
	font-size: 1.1em;
	text-align: center;
}

.custom #prod-description {
	background: lightyellow none repeat scroll 0 0;
	border: 2px solid lightBlue;
	font-size: 1.1em;
	margin: 15px 0 30px 0;
	padding: 10px 10px 10px 20px;
	width: 315px;
}

.custom #prod-description h4 {
	background:lightBlue none repeat scroll 0 0;
	color: white;
	margin:-10px -10px -10px -20px;
	padding:10px;
}

.custom #prod-description p {
	margin-top: 15px;
}

.custom #prod-description ul {
	margin-top: 10px;
}

.custom #prod-description li {
	margin-bottom: 5px;
}

.custom #orderprocess {
	background: lightyellow none repeat scroll 0 0;
	border: 2px solid lightBlue;
	float: right;
	height: 371px;
	width: 271px;
}

.custom #orderprocess h4 {
	background: purple none repeat scroll 0 0;
	color: white;
	padding: 10px;
}

.custom #pricerange {
	float: none;
}

.custom #pricerange h4 {
	background: lightBlue none repeat scroll 0 0;
	padding: 10px;
}

.custom .pricelevel {
	float: none;
}

.custom .pricelevel highlight {
	background: yellow none repeat scroll 0 0;
}

.custom .prices {
	float: none;
}

.custom .regprice {
	float: none;
}

.custom .saleprice {
	float: none;
}
.custom .orderbox {
	float: none;
}

.custom #zc-entry {
	float: none;
}

.custom #zc-entry h4 {
	background: lightBlue none repeat scroll 0 0;
	margin-top: 30px;
	padding:10px;
}

.custom #cart-add {
	float: none;
}

.custom #cart-add h4 {
	background: lightBlue none repeat scroll 0 0;
	margin-top: 30px;
	padding:10px;
}


/*---:( END SINGLE PRODUCT PAGE ):---*/

/*---:( Product Footer ):---*/
/*---:( END Product Footer ):---*/

/*---:( Product Sidebar ):---*/
/*---:( END Product Sidebar ):---*/
	/*---------:( END Product Page Styles ):---------*/


	/*---------:( Single Post Styles ):---------*/
/*---:( Author Box ):---*/
.custom .postauthor { background: #F5F5F5; border-top: 1px solid #e1e1e0; border-bottom: 1px solid #e1e1e0; overflow: hidden; padding: 1.5em; }
.custom .postauthor img { border: 5px solid #e2dede; float: left; margin-right: 1.5em; }
.custom .postauthor h4 { color: #666; font-size: 2em; margin-bottom: 5px; }
.custom .postauthor p { color: #515151; font-size: 13px; margin-bottom: 12px; }
.custom .postauthor p.hlight { font-size: 11px; text-transform: uppercase; }
.custom .postauthor p.hlight span { color: #CB3131; font-size: 13px; font-style: italic; font-weight: bold; letter-spacing: 0.8px; }
/* BOXES */
.custom #similar h3, #rightcol h3 { font-size: 1.8em; letter-spacing: normal; padding-top: 15px; }
.custom #similar { float: left; width: 50%; }
.custom #similar p { margin-bottom: 15px; padding: 10px 2.5em 10px 10px; }
.custom #similar a { font-size: 1.4em; border-bottom: 1px solid #CB3131; line-height: 1.5em; }
.custom #similar a:hover { border: 0; }
.custom #similar h3 { padding-left: 10px; }
.custom #similar span.date { color: #888; letter-spacing: 1px; text-transform: uppercase; }
.custom #rightcol { float: right; width: 50%; }
.custom #rightcol p { font-size: 14px; line-height: 1.5em; padding: 10px 2.5em 10px 0;  }
.custom #rightcol h3 { padding: 0; }
.custom #rightcol ul { list-style-position: inside;  list-style-type: square; margin-left: 1em; }
.custom #rightcol ul a { border-bottom: 1px solid #CB3131; font-size: 14px; }
.custom #rightcol ul a:hover { border: 0; }
.custom #rightcol li { margin-bottom: 10px; }
.custom #subscribe { background: #FFFBCC; border: 1px solid #E6DB55; float: right; margin: 15px 15px 0 15px; padding: 19px 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.custom #custom { background: #E4F2FD; border: 1px solid #C6D9E9; float: right; margin: 15px; padding: 19px 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	/*---------:( END Single Post Styles ):---------*/

		/*------:[ END Page Template Styles ]:------*/



		/*------:[ UNIQUE ELEMENT STYLES ]:------*/

	/*----------:( SMALL PRODUCT ):---------*/
/*---:( PRODUCT TABLE ):---*/
.custom .product { 
	float: left; 
	padding: 25px 5px 50px; 
	height: 198px;
	width: 180px;
	margin-left: 30px;
	margin-bottom: 6px;
	text-align: left;
	top: 0;
}
   
.custom .product a { color: #060; text-decoration:none; }

.custom .product a:visited { color: #090; text-decoration: none; }
	
.custom .product a:hover { color: #090; text-decoration: underline; }
 
.custom .product_img img {
	width: 180px;
	padding-bottom:4px;
}

.custom .product_name {
	min-height: 25px;
}

.custom .product_name h2 {
	font-weight: bold;
	font-size: 75%;
	margin-bottom: 4px;
	border: none;
	background: none;
}

.custom .product_sale {
	color:#FF0000; 
	font-weight: bold; 
}


/*---:( Link Text Colors ):---*/
	/*---------:( END Small Product ):---------*/


	/*---------:( Large Product ):---------*/
	/*---------:( END Large Product ):---------*/


	/*---------:( Product Description ):---------*/
	/*---------:( END Product Description ):---------*/


	/*---------:( Product Reviews ):---------*/
	/*---------:( END Product Reviews ):---------*/


	/*---------:( To Be FILLED ):---------*/
	/*---------:( END To Be FILLED ):---------*/

		/*------:[ END Unique Element Styles ]:------*/



		/*------:[ General Styles ]:------*/

	/*---------:( Text Styles):---------*/
/*---:( STATIC PAGE TITLES ):---*/
.custom #nohl .headline_area {  display: none; }

/*---:( LINK TEXT COLORS ):---*/
.custom a { color: #090; }
.custom a:visited { color: #CAAFAF; }
.custom a:hover { color: #00f; }

/*---:( Special Text Colors ):---*/


/*---:( COMMENT TEXT ):---*/
.custom .comments_closed p { display: none; }


/*---:( REMOVE DOTTED BORDER ):---*/
.custom .post_box, .teasers_box {
	border-top: none;
}

	/*---------:( END Text Styles):---------*/


	/*---------:( IE6 STYLES ):---------*/
/* IE6 css fixer v0.4: Fri, 26 Jun 2009 06:59:31 +0200 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
.ie6 #tabs li,
.ie6 #topnav,
.ie6 #topnav ul,
.ie6 #topnav li,
.ie6 #topnav li.rss,
.ie6 #header .search_form,
.ie6 ul#footernav,
.ie6 ul#footernav li,
.ie6 #footer_1 ul.sidebar_list li.widget,
.ie6 .postauthor img,
.ie6 #similar,
.ie6 #rightcol,
.ie6 #subscribe,
.ie6 #custom,
.ie6 .product,
.ie6 #topnav li.cart,.ie6 ul#footernav li.rss {display:inline;}

/* convert min height values */
.ie6 .product_name {height:25px;}

/* add zoom:1 to overflow:hidden */
.ie6 .postauthor {zoom:1;}

/* fix negative margins */
.ie6 ul#tabs li a,
.ie6 #header .search_form {position:relative; zoom:1;}

/* add zoom:1 to pos:relative elements */
.ie6 #header .search_form {zoom:1;}
	/*---------:( END IE6 STYLES ):---------*/


	/*---------:( BACKGROUND STYLES ):---------*/
/*---:( CUSTOM SET ):---

body.custom { background: #f9f5db url('images/bg-happy_bloom.jpg'); }

		.custom #page { padding: 2em 1.9em; background: #fff; border: 0.1em solid #b5b198; border-top: 0; }
---:( end Custom Set ):---*/

/*---:( Set 1: solid background with slick borders around your "page" area ):---*/

body.custom { background: #e4feda; }
	
	.custom #container { margin-top: 2em; margin-bottom: 2em; padding: 0.3em; background: #F1FEED; border: 0.4em solid #F1FEED; }

		.custom #page { background: #fff; }
/*---:( end Set 1 ):---*/

/*---:( Set 2: repeating background grid pattern ):---
body.custom { background: #f9f5db url('images/bg-grid.gif'); }

		.custom #page { padding: 2em 1.9em; background: #fff; border: 0.1em solid #b5b198; border-top: 0; }
---:( end Set 2 ):---*/


/*---:( Set 3: ornate, repeating background pattern ):---
body.custom { background: #93cabc url('images/bg-ornate.gif'); }

		.custom #page { padding: 2em 1.9em; background: #fff; border: 0.1em solid #629084; border-top: 0; }
---:( end Set 3 ):---*/


/*---:( Set 4: image of clouds that gently slides into a steely blue background color ):---
body.custom { background: #394f5c url('images/bg-clouds.jpg') 50% 0 no-repeat; }

	.custom #container { margin-top: 2em; margin-bottom: 2em; }

		.custom #page { background: #fff; }
---:( end Set 4 ):---*/


/*---:( Set 5: image of gray rocks that slides into a dark gray background ):---
body.custom { background: #33383a url('images/bg-rock.jpg') 50% 0 no-repeat; }

.custom #container { margin-top: 2em; margin-bottom: 2em; }

	.custom #page { background: #fff; }
---:( end Set 5 ):---*/


/*---:( Set 6: image of ocean water that slides into a tranquil blue-green color ):---
body.custom { background: #8db6b6 url('images/bg-ocean.jpg') 50% 0 no-repeat; }

.custom #container { margin-top: 2em; margin-bottom: 2em; }

	.custom #page { background: #fff; }
---:( end Set 6 ):---*/
	/*---------:( END Pre-defined Background Styles ):---------*/

		/*------:[ END General Styles ]:------*/

